$main-bg-color: #252836;

$white-color: #ffffff;
$font-diabled-content-color: rgba(255, 255, 255, 0.4);

$card-font-content-color: #ABBBC2;
$card-content-color: #1F1D2B;

$cart-color: #EA7C69;

$button-normal-color: rgba(255, 255, 255, 0.08);
$button-hover-color: rgba(255, 255, 255, 0.18);
$button-disabled-color: rgba(255, 255, 255, 0.4);

$smallest-button-size: 48px;

$main-border-radius: 8px;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $white-color;
  background-color: $main-bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0px;
}

.font-12 {
  font-size: 12px;
}
.font-16{
  font-size: 16px;
  font-weight: 700;
}

.font-18 {
  font-size: 18px;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

@mixin default-button {
  &.smallest {
    width: 48px;
    height: 48px;
    max-width: 48px;
    max-height: 48px;
    min-width: 48px;
    min-height: 48px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  border-radius: $main-border-radius !important;
}

.gray-button {
  @include default-button;

  background-color: $button-normal-color !important;
  color: $white-color !important;
}

.gray-button:hover {
  background-color: $button-hover-color !important;
}

.gray-button.Mui-disabled {
  background-color: $button-disabled-color !important;
  color: $font-diabled-content-color !important;
}

.red-button {
  @include default-button;
  min-height: 48px !important;
  background-color: $cart-color !important;
  color: $white-color !important;
}

.red-button:hover {
  filter: drop-shadow(rgba(234, 124, 105, 0.4) 0px 8px 24px);
}

.MuiDivider-root {
  border-color: rgba(255, 255, 255, 0.08) !important;
}

.MuiPagination-root {
  display: flex;
  align-items: center;
  justify-content: center;

  li>* {
    color: $white-color;

    &.Mui-selected {
      background-color: $card-content-color;
    }
  }
}

@import "./layouts/main-layout.scss";
@import "./layouts/cards-page.scss";
@import "./inputUI/input.scss";
@import "./componentUI/poke-card.scss";
@import "./componentUI/cart.scss";