.input-search-form {
  max-width: 173px;
  background-color: $button-normal-color !important;
  border-radius: $main-border-radius !important;

  input {
    color: $white-color !important;
    font-size: 14px !important;
  }
}